<extend name="Base:layout" /> 

<block name="style">
	<link href="__PUBLIC__/style/forgetPassword.css" rel="stylesheet" type="text/css" />
</block>

<block name="content">
		<include file="Base:header" />
		<section class="content">
			<h2>找回密码</h2>
			<div class="form">
				<div>
					<span>请输入您的 email</span>
					<input type="email" name="email" placeholder="请输入您的 email" />
				</div>
				<div>
					<button type="button">找回密码</button>
				</div>
			</div>
		</section>
		<include file="base:footer" />
</block>

<block name="javascript">
	<script src="__PUBLIC__/lib/javascript/require.js" data-main="__PUBLIC__/javascript/forgetPassword.js?num="+(new Date()) type="text/javascript"></script>
</block>