<extend name="Base:layout" /> 

<block name="style">
	<link href="__PUBLIC__/style/regist.css" rel="stylesheet" type="text/css" />
</block>

<block name="content">
	<include file="Base:header" />

	<div class="content">
		<h2 class="title">用户注册</h2>
		<form action="" method="post">
			<div class="field">
				<label><span>用户名</span><input type="text" name="username" data-condition="required" placeholder="用户名" /></label>
				<i class="error">这里不能为空！</i>
			</div>
			<div class="field">
				<label><span>昵称</span><input type="text" name="nickname" data-condition="required" placeholder="昵称" /></label>
				<i class="error">这里不能为空！</i>
			</div>
			<div class="field">
				<label><span>密码</span><input type="password" name="password" data-condition="required" placeholder="密码" /></label>
				<i class="error">这里不能为空！</i>
			</div>
			<div class="field">
				<label>
					<span>Email</span>
					<input placeholder="email" type="email" name="email" data-condition="^([a-zA-Z0-9]+[_|_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|_|.]?)*[a-zA-Z0-9]+.[a-zA-Z]{2,4}$ required" />
				</label>
				<i class="error">请输入合法的Email！</i>
			</div>
			<div class="field gender">
				<span>性别</span>
				<strong>
					<label for="M">男</label>
					<input type="radio" name="gender" value="M" id="man" data-condition="required" />
				</strong>
				<strong>
					<label for="F">女</label>
					<input type="radio" name="gender" value="F" id="woman" data-condition="required" />
				</strong>
				<strong>
					<label for="N">保密</label>
					<input type="radio" name="gender" value="N" id="unknow" data-condition="required" />
				</strong>
				<i class="error">这里不能为空！</i>
			</div>
			<div class="field extra">
				<p>一句话表达你的个性！</p>
				<textarea name="extra" placeholder="写出你的个性签名~~~"></textarea>
			</div>
			<div class="submit">
				<button type="button">保存提交</button>
			</div>
		</form>
		<div class="upload-avator">
			<div class="image-show" title="点击上传头像">
			</div>
			<div class="avator">
				<input type="file" name="avator" />
				<button type="button">头像上传</button>
			</div>
		</div>
	</div>

	<include file="Base:footer" />
</block>

<block name="javascript">
	<script src="__PUBLIC__/lib/javascript/require.js" data-main="__PUBLIC__/javascript/regist.js" type="text/javascript"></script>
</block>