.content {
  height: 490px;
}
.content h2 {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}
.form div {
  height: 40px;
}
.form input {
  outline: none;
  width: 200px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin-left: 10px;
  font-size: 12px;
  padding-left: 5px;
}
.form button {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  background: deepskyblue;
  color: #ffffff;
  outline: none;
}
.form button:hover {
  background: dodgerblue;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}