
.login-form {
	width: 490px;
	height: 460px;
	padding: 0px 30px;
	border-right: 1px solid #dedede;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}
.login-form .form-title {
	font-size: 24px;
	margin-top: 50px;
}
.login-form .submit, .login-form .field {
	margin-top: 20px;
}
.login-form .form-remember {
	width: 250px;
	line-height: 200%;
	text-align: right;
}
.login-form .form-remember input, .login-form .form-remember label {
	cursor: pointer;
}
.login-form .field input {
	width: 250px;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	outline: none;
	font-size: 12px;
}
.login-form .field .error {
	color: red; 
	padding-left: 10px;
}
.login-form .submit button {
	width: 100px;
	height: 35px;
	line-height: 35px;
	background: #29b9f9;
	border-radius: 3px;
	color: #ffffff;
}
.login-form .submit button:hover {
	background: #18a8e8;
	cursor: pointer;
}

.login-form .img {
	position: absolute;
	bottom: 32px;
	right: 90px;
}
.login-form .img img {
	width: 140%;
}


.login-helper {
	width: 280px;
	height: 460px;
	float: right;
}
.login-helper a {
	display: block;
	width: 150px;
	height: 40px;
	margin-top: 10px;
	line-height: 40px;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}
.login-helper .helper-item a:hover {
	cursor: pointer;
}
.login-helper .helper-item:nth-child(1) a {
	margin-top: 100px;
	background: url('/public/images/regist.png') no-repeat 15px 45% #19C01D;
	background-size: 20px;
}
.login-helper .helper-item:nth-child(1) a:hover {
	background-color: #08b00c;
}
.login-helper .helper-item:nth-child(2) a {
	background: url('/public/images/forget.png') no-repeat 15px 50% #E55D42;
	background-size: 20px;
}
.login-helper .helper-item:nth-child(2) a:hover {
	background-color: #d44c31;
}
.login-helper .helper-item:nth-child(3) a {
	background: url('/public/images/know.png') no-repeat 15px 50% #3188B2;
	background-size: 20px;
}
.login-helper .helper-item:nth-child(3) a:hover {
	background-color: #2077a1;
}
