<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="daily application tool" />
		<meta name="keywords" content="daily" />
		<title>daily application tool</title>
		<!-- 引入样式 -->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/style/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/style/common.css" />
		<block name="style"></block>
	</head>
	<body>
		<!-- 文档内容 -->
		<block name="content"></block>
	</body>
	<!-- 脚本文件 -->
	<script type="text/javascript" src="__PUBLIC__/lib/javascript/jquery.js"></script>
	<block name="javascript"></block>
</html>