@width: 700px;
@border-color: #eeeeee;

.calendar_panel {
  width: @width;
  height: 450px;
  float: left;
}
.calendar_panel_header {
  width: @width;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid @border-color;

  button {
    margin-left: 10px;
  }
  i {
    font-size: 20px;
    margin: 16px 10px 0px 0px;
    float: right;
    cursor: pointer;
  }
}
.calendar_panel_content {
  width: @width;
  height: 400px;
  overflow-y: scroll;
}

.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}

.event-warning {
  color: #fac450;
}

.event-normal {
  color: #108ee9;
}

.event-error {
  color: #f50;
}

.notes-month {
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}