
@width: 260px;
@border-color: #eeeeee;

.filter_warp {
  width: @width;
  height: 500px;
  float: left;
  border-right: 1px solid @border-color;

  .filter_header {
    height: 50px;
    border-bottom: 1px solid @border-color;
    
    .add_file {
      width: 40px;
      height: 40px;
      display: inline-block;
      background: url("/public/images/createFile.png") no-repeat 10px center;
      background-size: 24px 24px;
      margin: 3px 0px 0px 0px;
      cursor: pointer;
    }
    input {
      width: 205px;
      height: 31px;
      line-height: 31px;
      border: 1px solid #cccccc;
      border-radius: 20px;
      padding-left: 12px;
      float: right;
      margin: 8px 13px 0px 0px;
      outline: none;
    }
  }
}
.wrap {
  position: relative;
  overflow: hidden;
  width: @width;
  height: 450px;
  float: left;
}
.inner {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  height: 450px;
  overflow-y: scroll;
}

.filter_content {
  height: 450px;
  width: @width;
}
.filter_content li {
  width: @width;
  height: 58px;
  border-bottom: 1px solid @border-color;
  font-size: 14px;
  cursor: pointer;

  p {
    height: 24px;
    line-height: 34px;
    padding-left: 10px;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .file_name span {
    font-weight: bold;
  }
  img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 14px;
    top: 8px;
  }
}

.no_more {
  width: @width;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}