@width: 700px;
@border-color: #eeeeee;
// 单行显示省略
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group_panel {
  width: @width;
  height: 450px;
  float: left;
}
.group_panel_header {
  width: @width;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid @border-color;
  padding: 0 10px;

  .chargeman {
    float: left;
    font-size: 16px;
  }
  .panel_operate {
    float: right;

    button {
      margin: -10px 0 0 10px;
    }
    i {
      font-size: 20px;
      margin: 16px 10px 0px 0px;
      cursor: pointer;
    }
  }
}

.email {
  width: 300px;
  line-height: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  padding-left: 3px;
  margin-top: 10px;
  outline: none;
}
.error {
  margin-top: 5px;
  color: red;
}

.group_panel_content {
  padding: 10px;
  li {
    width: 121px;
    height: 121px;
    float: left;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;

    &.fileSelected {
      background: #cccccc;
    }
  }
  .file {
    width: 100px;
    height: 100px;
    background: #ffffff;
    padding-top: 10px;
    text-align: center;
    margin: 10px 0px 0px 10px;
    border: 1px solid #dedede;
    border-radius: 3px;
    
    i {
      font-size: 60px;
      color: #eeeeee;
    }
    p {
      height: 25px;
      line-height: 25px;
      width: 80px;
      margin: 0 auto; 
      .ellipsis;
    }
  }
  .selected {
    width: 20px;
    height: 20px;
    background: #cccccc;
    position: absolute;
    top: 7px;
    left: 7px;

    div {
      background: #ffffff;
      width: 13px;
      height: 13px;
    }
    span {
      width: 12px;
      height: 20px;
      display: block;
      border-style: solid;
      border-color: #555555;
      border-width: 0px 4px 4px 0px; 
      transform: rotate(40deg) translate(-2px, -6px);
    }
  }
}
