@width: 700px;
@border-color: #eeeeee;

.group_panel {
  width: @width;
  height: 450px;
  float: left;
}
.group_panel_header {
  width: @width;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid @border-color;
  padding: 0 10px;

  .chargeman {
    float: left;
    font-size: 16px;
  }
  .panel_operate {
    float: right;

    button {
      margin: -10px 0 0 10px;
    }
    i {
      font-size: 20px;
      margin: 16px 10px 0px 0px;
      cursor: pointer;
    }
  }
}

.email {
  width: 300px;
  line-height: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  padding-left: 3px;
  margin-top: 10px;
  outline: none;
}
.error {
  margin-top: 5px;
  color: red;
}