<extend name="Base:layout" /> 

<block name="style">
	<link href="__PUBLIC__/style/user.css" rel="stylesheet" type="text/css" />
</block>

<block name="content">
	<include file="base:header" />
	<section class="content">
		<div class="avator">
			<img src="{$userInfo.avator}" />
			<p><strong>个性签名：</strong><span>{$userInfo.extra}</span><a class="target-extra" href="javascript:;"> [ 修改 ]</a></p>
		</div>
		<div class="infos">
			<div>
				<p><strong>用户名：</strong><span>{$userInfo.username}</span></p>
				<p><strong>昵称：</strong><span>{$userInfo.nickname}</span><a class="target-nickname" href="javascript:;"> [ 修改 ]</a></p>
			</div>
			<div>
				<p><strong>Emain：</strong><span>{$userInfo.email}</span><a class="target-email" href="javascript:;"> [ 修改 ]</a></p>
				<p><strong>性别：</strong><span>{$userInfo.gender}</span><a class="target-gender" href="javascript:;"> [ 修改 ]</a></p>
			</div>
		</div>
	</section>
	<!-- 编辑模态框 -->
	<section class="model-wrap">
		<!-- 修改个性签名 -->
		<div class="model extra">
			<h3 class="model-title">个性签名编辑</h3>
			<div class="model-body">
				<p>
					<label for="extra">个性签名：</label>
					<input type="text" name="extra" />
				</p>
			</div>
			<div class="model-footer">
				<button type="button">取消</button>
				<button type="button">确定</button>
			</div>
		</div>

		<!-- 修改昵称 -->
		<div class="model nickname">
			<h3 class="model-title">昵称编辑</h3>
			<div class="model-body">
				<p>
					<label for="nickname">昵称：</label>
					<input type="text" name="nickname" />
				</p>
			</div>
			<div class="model-footer">
				<button type="button">取消</button>
				<button type="button">确定</button>
			</div>
		</div>

		<!-- 修改email -->
		<div class="model email">
			<h3 class="model-title">Email 编辑</h3>
			<div class="model-body">
				<p>
					<label for="email">Email</label>
					<input type="email" name="email" />
				</p>
			</div>
			<div class="model-footer">
				<button type="button">取消</button>
				<button type="button">确定</button>
			</div>
		</div>

		<!-- 修改性别 -->
		<div class="model gender">
			<h3 class="model-title">性别修改</h3>
			<div class="model-body">
				<p>
					<label for="gender">性别</label>
					<input type="radio" name="gender" value="F" /> 男
					<input type="radio" name="gender" value="M" /> 女
					<input type="radio" name="gender" value="N" /> 未知
				</p>
			</div>
			<div class="model-footer">
				<button type="button">取消</button>
				<button type="button">确定</button>
			</div>
		</div>
	</section>
	<include file="base:footer" />
</block>

<block name="javascript">
	<script type="text/javascript" src="__PUBLIC__/javascript/user.js"></script>
</block>