<extend name="Base:layout" />

<block name="style">
  <style type="text/css">
    ::-webkit-scrollbar {
      width: 0px;
    }
  </style>
</block>

<block name="content">

</block>

<block name="javascript">
  
  <script type="text/javascript" src="https://g.alicdn.com/aliww/??h5.imsdk/2.1.0/scripts/yw/wsdk.js,h5.openim.kit/0.3.7/scripts/kit.js" charset="utf-8"></script>
	<script type="text/javascript">
		WKIT.init({
      uid: 'Lee',
      appkey: 23454789,
      credential: '123456',
      touid: 'suxia'
    });
	</script>
</block>