<extend name="Base:layout" />

<block name="style">
  <style type="text/css">
    ::-webkit-scrollbar {
      width: 0px;
    }
    .error-tip {
      text-align: center; margin-top: 50px;
    }
    .error-tip b {
      font-size: 40px;
    }
  </style>
</block>

<block name="content">
  <if condition="$errorTip">
    <div class="error-tip">
      <p><b>500</b></p>
      <p>{$errorTip}</p>
    </div>
  </if>
</block>

<block name="javascript">
  <script type="text/javascript" src="__PUBLIC__/lib/javascript/mkit.js"></script>  
	<script type="text/javascript">
    WKIT.init({$imInfos});
	</script>
  <script type="text/javascript">
    // 离开此页面时，提示用户刷新主页面
    document.addEventListener('unload', function() {
      alert('关闭聊天页面，您需要刷新主页面');
    }, false);

  </script>
</block>