<extend name="Base:layout" />

<block name="style">
  <style type="text/css">
    ::-webkit-scrollbar {
      width: 0px;
    }
    .error-tip {
      text-align: center; margin-top: 50px;
    }
    .error-tip b {
      font-size: 40px;
    }
  </style>
</block>

<block name="content">
  <if condition="$errorTip">
    <div class="error-tip">
      <p><b>500</b></p>
      <p>{$errorTip}</p>
    </div>
  </if>
</block>

<block name="javascript">
  <script type="text/javascript" src="__PUBLIC__/lib/javascript/mkit.js"></script>  
	<script type="text/javascript">
    var imInfos = {$imInfos};
    var sdk = new WSDK();
    console.log( sdk.Tribe.setReadState );
    // imInfos = $.extend({}, imInfos, {
    //   onMsgSent: function(msg) {
    //     alert(JSON.stringify(msg));
    //   }
    // });
    // WKIT.init(imInfos);
	</script>
</block>